.git/
.gitignore
README.md
*.md
target/
!**/src/main/**/target/
!**/src/test/**/target/
.idea/
node_modules/
package-lock.json
package.json
start.sh
stop.sh
start.makefile
image.sh
coverage/
docker/
k8s/
*.postman_collection.json
.env
