version: "3.9"

services:
  # ==========================
  # PostgreSQL
  # ==========================
  postgres-server:
    image: postgres:15
    container_name: Ecommerce
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: test1234
      POSTGRES_DB: Ecommerce
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./docker/postgres/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      retries: 5

  redis-server:
    image: redis:8.6.0
    container_name: redis-server
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      retries: 5



  # Naming / Discovery Server (Eureka)
  naming-server:
    build:
      context: ./naming-server
      dockerfile: Dockerfile

  # Config Server
  config-server:
    build:
      context: ./config-server
      dockerfile: Dockerfile
    depends_on:
      - naming-server

  # API Gateway
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    depends_on:
      - naming-server
      - postgres-server

  # Order Service
  order-service:
    build:
      context: ./order-service
      dockerfile: Dockerfile
    depends_on:
      - naming-server
      - config-server
      - postgres-server


  # Payment Service
  payment-service:
    build:
      context: ./payment-service
      dockerfile: Dockerfile
    depends_on:
      - naming-server
      - config-server
      - postgres-server


  # Product Service
  product-service:
    build:
      context: ./product-service
      dockerfile: Dockerfile
    depends_on:
      - naming-server
      - config-server
      - postgres-server



  # User Service
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    depends_on:
      - naming-server
      - config-server
      - postgres-server

networks:
  default:
    name: ecommerce-platform

volumes:
  postgres-data:
  redis-data: