# ===============================
# Payment Service - Local Profile
# For running from IDE without Docker
# ===============================

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/paymentdb
    username: postgres
    password: test1234

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

management:
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
