# ===============================
# User Service Configuration
# ===============================
spring:
  application:
    name: user-service
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: jdbc:postgresql://localhost:5433/userdb
    username: postgres
    password: test1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  cloud:
    config:
      enabled: false
      discovery:
        enabled: false

server:
  port: 0

management:
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  tracing:
    sampling:
      probability: 1.0

# ===============================
# Eureka Discovery
# ===============================
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

logging:
  pattern:
    level: "%5p [#{spring.application.name}, %X{traceId:-}, %X{spanId:-}]"