# ===============================
# User Service - Local Profile
# For running from IDE without Docker
# ===============================

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/userdb
    username: postgres
    password: test1234
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

management:
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
